@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');


:root {
    --fuentemontse: 'Montserrat', sans-serif;
    --fuentelibre: 'Libre Baskerville', serif;
}


* {
    box-sizing: border-box;
}



/* inicio header */

header {
    background-color: black;

}

header figure img {
    width: 12%;
    margin: 3% 0 5% 3%;

}

header hr {
    background-color: white;
    width: 95%;
}

header ul {
    text-align: center;

}

header li {
    padding: 2.5%;
}

header li a {
    text-decoration: none;
    font-size: 2em;
    color: rgb(156, 151, 151);
    font-family: var(--fuentemontse);
    font-weight: bold;

}

header li:last-child {
    padding-bottom: 12%;
}

/* 
falta hacer los enlaces de ancla */

/* fin header */

/* inicio hero */

.container {
    margin: 0 auto;
    max-width: 700px
}

.hero {
    background-image: url(../images/intro-bg.jpg);
    background-color: rgba(37, 12, 2, 0.527);
    background-blend-mode: screen;
    background-size: cover;
    padding-bottom: 25%;
    background-position: 50% 50%;
    /* revisar la posicion de la imagen de fondo */
}

.hero h2 {
    font-family: var(--fuentemontse);
    font-weight: bold;
    font-size: 2.5em;
    color: rgba(128, 128, 128, 0.651);
    padding-top: 40%;
    padding-bottom: 5%;
    text-align: left;
}


h1 {
    font-size: 6em;
    color: white;
    font-family: var(--fuentelibre);
    font-weight: bold;
}

.hero i {
    font-size: 2em;
    color: white;
    position: absolute;
    bottom: 4%;
    right: 8%;
}


/* falta poner el enlace de ancla */


/* fin hero */

/* inicio footer */

footer {
    background-color: black;

}

footer .iconos {
    display: flex;
    justify-content: center;
    align-items: center;


}

footer i {
    font-size: 350%;
    color: gray;
    padding: 20px;
    padding-top: 70px;

}

footer p {
    color: rgba(128, 128, 128, 0.459);
    font-size: 1.5em;
    font-family: var(--fuentemontse);
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
    padding-bottom: 70px;

}

/* fin footer */

/* inicio section 1 y 2 */

#section1 {
    background-image: url(../images/profile-bg.jpg);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.671);
    background-blend-mode: screen;

}

h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    color: rgb(59, 12, 12);
    font-family: var(--fuentemontse);
    font-weight: bold;
    padding-top: 70px;
}

h3 {
    font-size: 3em;
    text-align: center;
    font-family: var(--fuentelibre);
    padding: 15px 0px;
    font-weight: bold;
}




h5 {

    font-size: 1.75em;
    font-family: var(--fuentemontse);
    font-weight: bold;
    padding-top: 15px;
    text-align: center;
    line-height: 150%;
    color: gray;


}

#section1 h5 {

    color: rgb(56, 55, 55);

}

#section1 p {
    padding-top: 30px;
    font-size: 1.5em;
    color: rgb(56, 55, 55);
    line-height: 150%;

}

#section1 p:last-child {
    padding-bottom: 50px;

}


#section2 i {
    font-size: 450%;
    color: rgb(65, 2, 2);


}

#section2 h4 {
    font-weight: bold;
    font-family: var(--fuentemontse);
    font-size: 1.5em;
    padding-bottom: 10px;


}

#section2 article {
    display: flex;
    padding-top: 5%;

}

.parrafos {
    margin-left: 30px;

}


#section2 p {
    font-family: var(--fuentelibre);
    font-size: 1.25em;
    color: rgb(94, 93, 93);
    line-height: 150%;
}

#section2 article:last-child p {

    margin-bottom: 20%;


}



/* fin section 1 y 2 */

/* inicio section 3 */


#section3 {

    background-image: url(../images/skills-bg.jpg);
    background-color: rgba(0, 0, 0, 0.575);
    background-blend-mode: screen;
    background-image: cover;
    background-position: 50% 50%;
}

#section3 h2 {

    color: rgb(119, 68, 26);
    padding-top: 30%;
}


#section3 h3 {

    color: white;
}


#section3 h5 {

    padding-bottom: 70%;

}


/* fin section 3 */

/* inicio section 4 */

#section4 i {

    font-size: 250%;
    color: rgb(65, 2, 2);

}

.fechas {
    font-family: var(--fuentemontse);
    color: rgb(143, 138, 138);
    font-size: 1.25em;
    font-weight: bold;

}

.experience h3 {
    font-family: var(--fuentemontse);
    font-weight: bold;
    font-size: 24px;
    text-align: left;

}

#section4 h4 {
    font-family: var(--fuentemontse);
    font-weight: bold;
    font-size: 1.25em;

}

#section4 p:last-child {

    font-size: 1.25em;

}







/* fin section 4 */

/* media queries */

@media(min-width: 1200px) {

    header {
        display: flex;
        justify-content: space-between;
    }

    header figure {
        width: 25%;

    }

    header hr {
        display: none;
    }

    header nav ul li {

        display: inline;

    }

    header nav {
        width: 40%;
        padding: 1% 0%;

    }

    header nav ul li a {
        font-size: 1em;

    }

    header nav ul li:last-child {
        padding-right: 2.5%;
    }

    .container {
        margin: 0 auto;
        max-width: 1200px
    }



    .hero h2 {

        font-size: 1.5em;
        letter-spacing: 1px;
    }

    h1 {
        font-size: 3em;
    }

    .hero i {
        bottom: -19%;
        right: 3%;
        font-size: 100%;
    }

    .union {

        display: flex;

    }


    #section1 {
        padding: 0 100px 0 200px
    }

    #section2 {
        padding: 0 200px 0 100px;

    }

    #section1 h2 {

        font-size: 100%;
        text-align: left;

    }

    #section2 h2 {
        font-size: 100%;
        text-align: left;
    }

    #section1 h3 {
        font-size: 200%;
        text-align: left;
    }

    #section2 h3 {
        font-size: 200%;
        text-align: left;

    }

    #section1 h5 {
        text-align: left;
        font-size: 120%;

    }

    #section2 h4 {
        font-size: 100%;

    }

    #section2 h5 {
        text-align: left;
        font-size: 120%;
    }

    #section2 i {

        font-size: 275%;

    }

    #section3 h2 {
        padding-top: 15%;
        text-align: left;
    }


    #section3 h3 {

        text-align: left;
    }


    #section3 h5 {

        text-align: left;
        width: 65%;
        font-size: 125%;
    }






    footer i {
        font-size: 200%;
        padding: 10px;
        padding-top: 50px;

    }

    footer p {
        color: rgba(128, 128, 128, 0.459);
        font-size: 1em;
        font-family: var(--fuentemontse);
        font-weight: bold;
        margin-top: 40px;
        text-align: center;
        padding-bottom: 70px;

    }
}